<!DOCTYPE html>
<html>
    <head>
        <title>froncubator | BoilerPlate</title>
        <meta charset="utf-8">
        <script backend-env></script>
        <link rel="stylesheet" type="text/css" href="/static/build/css/build.css?version=1"/>
        <script src="/static/build/scripts/build.js?version=1"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div>
            <h1 class="main">Hello world!</h1>
        </div>
    </body>
</html>
